#### Instagram content types

* **Educational content**
Usually focuses on one of the content pillars of the brand.
Is used to educate the audience about a topic, thus building
trust by showing the brand's expertise and knowledge in the domain.

* **Narrative content**
Focuses on telling a story or a journey of the brand or the product.
Can be a success story, a showcase of the brand's day-to-day life,
a part of the brand's story, a recent achievement, a behind-the-scenes look, etc.
It builds trust by showing the brand's human aspect and the product's journey
that resonates with the shared values of the audience.

* **Product placements/showcases** (Products, Services, Features, Benefits, Pricing, etc.)
Focuses on directly showcasing a product or a service.
Usually the visual content is the main focus and the text is supporting.
The caption should be supportive and provide details about the product or the service.
Focuses on brevity and clarity, eroding any confusion or friction between the brand and the audience.
