#### Instagram formatting & style
* Instagram does not support bold, italic, underline, etc.

* It supports only plain text and emoji, line breaks
but has no markdown-specific formatting.

* Use line breaks to separate sentences and ideas.

* Aim for 6th-8th grade reading level.

* Aim for brevity. If you can describe a product or a service in 2-3 sentences, do it.

* No preamble, go straight to the point, the visual content is the hook.
